<div>
  <div class='text-bearer'><h2>Where did you find this all?</h2><br>
    Via the publically available postings of thousands of <em>Instagram</em> users.<br><br>
    Because thousands of us are out there collecting... <br><br>

    We can track the life and death of street art across the globe
  </div>
</div>