<div>
  <div class="text-bearer">
    <h2>How do I use this?</h2><br>
    <ul>
      <li>urban adventures</li>
      <li>cheap backpacking thrills</li>
      <li>explore a city</li>
    </ul>
    <br>
    But <em>please, please, please,</em> do not just stay indoors. <br><br>Use this to help explore urban life.
  </div>
</div>