<div>
  <div class='text-bearer'><h3>What do you mean by <em>street art?</em></h3><br>
    <ul>
     <li>graffiti</li>
     <li>murals</li>
     <li>public art</li>
     <li>tagging</li>
     <li>paste-ups</li>
     <li>yarn bombs</li>
     <li><em><span>selfies</span></em></li>
    </ul><br> Sanctioned or otherwise. <br><br>Sample the goods &#x25BC
  </div>
</div>