<div id="container">
  <div class="landing-graphics">
    <div class="graff-pic"><%= @images[0]%></div>
    <div class="arrow"></div>
    <div class="graff-pic"><%= @images[1]%></div>
  </div>
</div>
<div class="pretty-line"></div>

<div id="map"></div>
