<h1>Leche Asada</h1>

<div id="controls"> What do you want with me?</div>
<div class="prettyl-ine"></div>

<div class="landing-graphics">
  <div class="graff-pic"></div>
  <div class="arrow"></div>
  <div class="graff-pic"></div>
</div>
<div class="pretty-line"></div>

<div id="map"></div>