<div><h1>Leche Asada</h1></div>

<div class="pretty-line"></div>

<div class="landing-graphics">
  <div class="graff-pic"></div>
  <div class="arrow"></div>
  <div class="graff-pic"></div>
</div>
<div class="pretty-line"></div>

<div id="map"></div>