<header id="title"><h1>LECHE ASADA</h1></header>

<div class="pretty-line"></div>

  <div class="landing-graphics">
    <div class="graff-holder">
      <%= image_tag(@images[0], alt: "Yo mumma", class: 'graff') %>
    </div>
    <div class="arrow"></div>
    <div class="graff-holder"><%= image_tag(@images[1], alt: "Yo mumma", class: 'graff') %>
    </div>
  </div>

<div class="pretty-line"></div>

<div id="map"></div>
