<div id="container">
  <div class="landing-graphics">
    <div class="graff-pic"></div>
    <div class="arrow"></div>
    <div class="graff-pic"></div>
  </div>
</div>
<div class="pretty-line"></div>

<div id="map"></div>
