/*Auto-complete styles*/

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/* Search field */
#searching { display: block; width: 100%; text-align: center; margin: 0px auto; padding: 15px; }

#searching form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searching form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searching form .biginput:focus {
  color: #858585;
}

#searching button {
   border-top: 1px solid #97f7df;
   background: #65d6a7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e999c), to(#65d6a7));
   background: -webkit-linear-gradient(top, #3e999c, #65d6a7);
   background: -moz-linear-gradient(top, #3e999c, #65d6a7);
   background: -ms-linear-gradient(top, #3e999c, #65d6a7);
   background: -o-linear-gradient(top, #3e999c, #65d6a7);
   padding: 3.5px 13px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.5em;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-bottom: 7px;
   }

#searching button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}