@-ms-viewport {
  width: device-width;
}

/* Colours */
$dark-border: #0f0f02;
$purple-border: #2d1b38;
$light-background: #BBBFB4;
$low-feature: #0C5244;
$high-feature: #1ED6B1;
$purple-main: #6935ad;
$off-white: #edede1;
$aqua-green: #61cc8a;


* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@import url(http://fonts.googleapis.com/css?family=Calligraffitti);
@import url(http://fonts.googleapis.com/css?family=Lato);

ul {
  list-style-type: none;
}

html {
  background-color: $light-background;
  color: $purple-main;
  text-shadow: 0 1px 0 rgba(255,255,255,0.55);
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 3px;
  margin: 2px;
}

.inline {
  display: inline;
}

#container {
  margin: 20px;
  width: 90%;
  padding: 0px 20px 0px 0px;
}

/* Map styles */

#searchfield {
  width: 30%;
  height: 25px;
  z-index: 2;
  position: absolute;
  left: 35%;
  border: 3px;
  border-style: solid;
  border-color: $dark-border;
  margin: 4px;
}

#map, #map-leaflet {
  width: 100%;
  height: 600px;
  margin: 0px auto;
}

#map img {
  max-width: none;
}

.faux-border{
  color: $purple-border;
  border: 8px;
  border-style: solid;
  width: 85%;
  height: auto;
  margin: 0 auto;
  position: relative;
  max-width: 1100px;
}

/* graffiti yay */

.graffiti, .graffiti svg {
  position: absolute;
}

.wrapper, .graffiti svg {
  /*border: 1px solid black;*/

  width: 10px;
  height: 10px;

  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
}

/* landing page */

.landing-graphics {
  display: flex;
  display: -webkit-flex;

  justify-content: center;
  -webkit-justify-content: center;

  flex-wrap: wrap;
  -webkit-flex-flow: wrap;

  min-width: 300px;
  height: auto;
  padding: 5px;
  margin: auto;
}

.pretty-line {
  width: 100%;
  height: 70 px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.graff-holder {
  background-color: $off-white;
  max-width: 420px;
  min-width: 300px;
  height: auto;
  padding: 5px;
  margin: 10px 0;
  overflow: hidden;
  -webkit-overflow: hidden;
  border: 5px;
  border-color: $dark-border;
  border-style: solid;
  position: relative;
}

.graff-holder a{
  height: auto;
  width: auto;
}

.graff-holder img{
  min-width: 300px;
  padding: 3px 3px 0 3px;
}

#tail{
   width: 60px;
   padding-top: 20px;
   height: 140px;
   background: $purple-main;
   margin: 0px auto;
}

#triangle {
  width: 0;
  height: 0;
  margin: 0px auto;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid $purple-main;
}

.center-box {
  width: 280px;
  min-height: auto;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  -webkit-overflow: hidden;
}

.text-bearer{
  padding: 10px;
  color: $aqua-green;
  font: 14px/16px 'Lato', Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font: 18px "Lato", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin: 3px 7px 20px 7px;
  font-weight: bold;
}

.text-bearer em{
  color: #ce1e33;
}

.text-bearer span{
  text-decoration: line-through
}

.slick-prev {
  left: 85px;
  top: 380px;
}

.slick-next {
  right: 85px;
  top: 380px;
}

#title {
  margin: 0px auto;
  text-align: center;
  padding: 5px;
  font-size: 3em;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.text-center{
  text-align: center;
}

#animate-arrow:hover{
  /*-webkit-transform: rotateY(360deg);*/
  /*transform: scale(2);*/
}

/*media queries */

@media screen and (max-width: 483px) {
/**/

  #title {
    font-size: 2em;
  }

  #map, #map-leaflet{
    height: 350px;
  }

  .faux-border{
    width: 100%;
  }

  .first{
    display: none;
  }

  .arrow{
    margin: 3px;
    padding: 3px;
    min-height: 140px;
  }

  .pretty-line{
    padding: 5px;
    margin: 5px 0px 5px 0px;
  }

  #searchfield{
    width: 50%;
    left: 15%;
  }
}