* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #bdc3c7;
  color: #9b59b6
}

#container {
  margin: 20px;
  width: 90%;
  padding: 0px 20px 0px 0px;
}

th {
  text-align: left;
}

#map {
  width: 85%;
  height: 600px;
  margin: 0;
  padding: 0;
}



/* graffiti yay */

.graffiti, .graffiti svg {
  position: absolute;
}

.graffiti svg {
  /*border: 1px solid black;*/
  width: 20px;
  height: 20px;
  font: 10px sans-serif;

  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
}

/* landing page */

.landing-graphics {
  background-color: #f2c2c9;
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  padding: 5px;
  margin: auto;
}

.pretty-line {
  background-color: black;
  position: relative;
  width: 100%;
  height: 70 px;
  padding: 20px;
  margin: 15px 0px 15px 0px;
}

.graff-holder {
  background-color: #edede1;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 10px 0;
  overflow: hidden;
}

.graff-holder img{
  width: 300px;
}

.arrow {
  background-color: #dfdfd7;
  float: left;
  width: 20%;
  height: 140px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
}

#title {
  margin: 0 auto;
  text-align: center;
}